<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/Layout"
      layout:decorate="~{layout.html}">
<meta charset="UTF-8">
<div layout:fragment="content">
    <div class="alert alert-primary" th:if="${#lists.isEmpty(lista)}">Nenhum usuário encontrado</div>
    <div class="alert alert-primary" th:if="${mensagem != null}" th:text="${mensagem}"></div>
    <div th:if="${not #lists.isEmpty(lista)}">
        <table class="table table-striped">
            <tbody>
            <tr th:each="usuario: ${lista}">
                <td th:text="${usuario.id}"></td>
                <td th:text="${usuario.nome}"></td>
                <td th:text="${usuario.quatroLetras}"></td>
                <td th:text="${usuario.email}"></td>
                <td><a class="btn btn-primary btn-small" th:href="@{/usuario/editar(id=${usuario.id})}">Editar</a>
                    <a class="btn btn-primary btn-small" th:href="@{/usuario/excluir(id=${usuario.id})}"
                       onclick="return confirm('Você realmente deseja excluir essa mensagem?')">Excluir</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</html>