<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/Layout"
      layout:decorate="~{layout.html}">
<meta charset="UTF-8">
<div layout:fragment="content">
    <div class="alert alert-primary" th:if="${#lists.isEmpty(listaParticipacoes)}">Nenhum participante cadastrado</div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Data</th>
            <th>Atividade</th>
            <th>Participantes</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="participacao: ${listaParticipacoes}">
            <td th:text="${#dates.format(participacao.dataRegistro,'dd/MM/yyyy')}"></td>
            <td th:text="${participacao.atividade.nome}"></td>
            <td><a th:href="@{/participacao/detalhes/{id}(id=${participacao.id})}"><button type="button" class="btn btn-primary">Veja Mais</button></span></a></td>
            <div>
                <td><a class="btn btn-primary btn-small" th:href="@{/participacao/editar(id=${participacao.id})}">Editar</a>
                    <a class="btn btn-primary btn-small" th:href="@{/participacao/excluir(id=${participacao.id})}" onclick="return confirm('Você realmente deseja excluir essa mensagem?')">Excluir</a>
                </td>
            </div>
        </tr>
        </tbody>
    </table>
</div>
</div>
</html>