<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/Layout"
      layout:decorate="~{layout.html}">
<meta charset="UTF-8">
<div layout:fragment="content">
    <div class="alert alert-primary" th:if="${#lists.isEmpty(listaParticipacoes)}">Nenhum participante cadastrado</div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Participante</th>
            <th>Presente</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="informacaoEvento: ${listaParticipacoes}">
<!--            <td th:text="${#dates.format(informacaoEvento.dataRegistro,'dd/MM/yyyy')}"></td>-->
            <td th:text="${informacaoEvento.id}"></td>
            <td th:text="${informacaoEvento.participante.nome}"></td>
            <td th:text="${informacaoEvento.presenca}"></td>
            <td><a th:href="@{/informacaoEvento/detalhes/{id}(id=${informacaoEvento.id})}"><button type="button" class="btn btn-primary">Veja Mais</button></span></a></td>
            <div>
                <td><a class="btn btn-primary btn-small" th:href="@{/informacaoEvento/editar(id=${informacaoEvento.id})}">Editar</a>
                    <a class="btn btn-primary btn-small" th:href="@{/informacaoEvento/excluir(id=${informacaoEvento.id})}" onclick="return confirm('Você realmente deseja excluir essa mensagem?')">Excluir</a>
                </td>
            </div>
        </tr>
        </tbody>
    </table>
</div>
</div>
</html>