<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/Layout"
      layout:decorate="~{layout.html}">
<meta charset="UTF-8">
<div layout:fragment="content">
    <div class="alert alert-primary" th:if="${#lists.isEmpty(lista)}">Nenhum participante cadastrado</div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Nivel</th>
                <th>Email</th>
                <th>Quatro Letras</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="participante: ${lista}">
                <td th:text="${participante.id}"></td>
                <td th:text="${participante.nome}"></td>
                <td th:text="${participante.nivel}"></td>
                <td th:text="${participante.email}"></td>
                <td th:text="${participante.quatroLetras}"></td>
                <td><a class="btn btn-primary btn-small" th:href="@{/participante/editar(id=${participante.id})}">Editar</a>
                    <a class="btn btn-primary btn-small" th:href="@{/participante/excluir(id=${participante.id})}" onclick="return confirm('Você realmente deseja excluir essa mensagem?')">Excluir</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</html>