<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/Layout"
      layout:decorate="~{layout.html}">
<meta charset="UTF-8">
<div layout:fragment="content">
    <div class="alert alert-primary" th:if="${#lists.isEmpty(lista)}">Nenhuma atividade cadastrada</div>
    <div class="alert alert-primary" th:if="${mensagem != null}" th:text="${mensagem}"></div>
    <div th:if="${not #lists.isEmpty(lista)}">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Data de Início</th>
                <th>Data Final</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="atividade: ${lista}">
                <td th:text="${atividade.id}"></td>
                <td th:text="${atividade.nome}"></td>
                <td th:text="${#dates.format(atividade.dataInicio, 'dd/MM/yyyy')}"></td>
                <td th:text="${#dates.format(atividade.dataFinal, 'dd/MM/yyyy')}"></td>
                <td><a th:href="${(#mvc.url('AC#entregaAtividade').arg(0,atividade.id)).build()}"><button type="button" class="btn btn-primary">Veja Mais</button></span></a></td>
                <td><a class="btn btn-primary btn-small" th:href="@{/atividade/editar(id=${atividade.id})}">Editar</a>
                    <a class="btn btn-primary btn-small" th:href="@{/atividade/excluir(id=${atividade.id})}" onclick="return confirm('Você realmente deseja excluir os dados dessa página??')">Excluir</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</html>